@import url('https://use.typekit.net/nhy0plw.css');

body.axom_available:not(.ax_past) .ax_menu, body.axom_available:not(.ax_past) .ax_menu_desktop{
  display: none!important;
}


body.axom_available:not(.axom_past) #ap_menu_desktop, body.axom_available:not(.axom_past) #ap_menu{
  display: none!important;
}


.axom_single_block{
  width: 80%!important;
  margin: 2rem auto!important;
  box-sizing: border-box;
  padding: 1rem 2rem!important;
  background: #222;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  max-width: 90%!important;
  position: relative;
}
.axom_block{
  width: 100%;
  background: #1a1a1a;
  position: relative;
  overflow: hidden;
}
.axom_block, .axom_block *{
  font-family: benton-sans, serif!important;
}

@media (min-width: 760px){
  .axom_block{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 0;
  }
}

body.ap .axom_block *, body.animal-politico  .axom_block *{
  font-family: acumin-pro, sans-serif;
}
.axom_block_t{
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 4%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}
.axom_block_t_c:first-child{
  width: 100%;
  text-align: center;
}
.axom_block_t_c img{
  width: 100%;
}
.axom_block_t_c:last-child{
  flex: 1;
  box-sizing: border-box;
  display: flex;

}
.axom_mi{
  display: block;
  width: auto!important;
  height: 20vh!important;
  margin: 0 auto -12vh;
  transform: translateY(-12vh);
}
.axom_block_t_c:last-child{

}
.axom_block_title{
  font-size: 2.1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  margin-top: 0.75rem;
  line-height: 1.1;
  margin-bottom: 0.75rem;
}
.axom_block_t_c p{
  font-style: 0.9rem;
  color: #f0f0f0;
  margin: 0;
  margin-top: 0.35rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.25rem 7.5%;
}



body.axom_available:not(.axom_past) #ax_menu{
  opacity: 0!important;
  pointer-events: none!important;
}

.axom_video{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 999999999999999999999;
  background: rgba(10,10,10,0.8) url('./mano.png') no-repeat right 10px bottom 10px;
  background-size: 80px auto;
}
.axom_video video{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 950px;
  z-index: 3;
}
.axom_video_closebg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.axom_video_close{
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  color: white;
  font-weight: 400;
  font-size: 2.1rem;
  cursor: pointer;
  padding: 1rem;
}
@media(max-width: 760px){

}

.axom_block_v{
  width: 100%;
  position: relative;
  height: 45vh;
  background: url('./axom.jpg') no-repeat center center;
  background-size: cover;
  cursor: pointer;
}
.axom_block_v img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  width: 80px;
}
.axom_block_v::after{
  content: '';
  display: block;
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(26,26,26, 0), rgba(26,26,26, 1))
}
@media(min-width: 760px){
  .axom_block{
    background-size: cover;
  }
  .axom_block_v{
    width: 100%;
    height: 60vh;
    margin: 0;
  }
  .axom_block_v img{
    width: 80px;
  }
  .axom_block_t_c:last-child{
    flex: 1;
  }
  .axom_block_t{
    width: 100%;
    box-sizing: border-box;
    padding: 0 calc(50% - 400px) 2rem;
  }
  .axom_block_title{
    font-size: 3rem;
  }
  .axom_block_t_c p{
    padding: 0;
    width: 60%;
    margin: 1rem auto;
    font-size: 1.1rem;
  }
  .axom_block_des{
  }
}

.axom_block_v::after{
  content: '';
  display: block;
  width: 100%;
  padding-top: 56%;
}
.axom_block::after{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #B7A3FE, #7A46FE, #C49DFD, #C6FE03, #8DFC01, #E6FD95);
}
.axom_single_block::before{
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #B7A3FE, #7A46FE, #C49DFD, #C6FE03, #8DFC01, #E6FD95);
  position: absolute;
  top: 0;
  left: 0;
}
.axom_single_block::after{
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: linear-gradient(to left, #B7A3FE, #7A46FE, #C49DFD, #C6FE03, #8DFC01, #E6FD95);
  position: absolute;
  bottom: 0;
  left: 0;
}
.axom_single_block p{
  display: none;
}
.axom_single_block_col:first-child{
  width: 100%;
}
.axom_single_block_col:last-child{
  flex: 1;
}
.axom_single_block_col_p{
  margin: 1rem 0;
  color: white;
}
.axom_single_block_col_p a{
  color: #8DFC01!important;
}

@media (min-width: 760px){
  .ax_desktop_no_show{
    display: none!important;
  }
}

@media (max-width: 760px){
  .ax_mobile_no_show{
    display: none!important;
  }
  .axom_single_block_col img{
    max-width: 45px!important;
    width: 45px;
    transform: translateY(-35px);
    margin-bottom: -35px!important;
  }
}

@media(min-width: 760px){
  .axom_single_block_col img{
    max-width: 65px!important;
    width: 65px;
    transform: translateY(-45px);
    margin-bottom: -45px!important;
  }
  .axom_single_block{
      margin: 2rem 0!important;
  }
}
